@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
* {
  box-sizing: border-box;
  font-family: "Kaushan Script", cursive;
}

.navbar {
  background-color: transparent;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  letter-spacing: 4px;
}
.Sidebar {
  height: 100vh;
  width: 15%;
  min-width: 300px;
  background-color: rgba(0, 255, 255, 0.007);
  /* background-color: transparent; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;

  /* background-color: black; */
}

.row {
  width: 120%;
  padding: 10px;
  height: 70px;
  margin: 0%;
  display: flex;
  flex-direction: row;
  color: rgb(255, 255, 255);
  /* justify-content: center; */
  padding-left: 20px;
  align-items: center;
  font-family: sans-serif;
  font-size: 1.1rem;
}
.row a {
  text-decoration: none !important;
  font-size: 1.2rem;
  color: #fff;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 5px 0px;
  padding-left: 5px;
  border-radius: 8px;
  transition: all 200ms;
}
.row a:hover {
  background-color: rgba(0, 255, 255, 0.247);
}

span {
  margin-left: 12px;
}
/* #dot {
  font-size: 1rem;
  font-weight: bold;
} */

/* .playContainer {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

button {
  padding: 10px 0px;
  width: 80px;
  border: none;
}

button:hover {
  background-color: aliceblue;
} */
.container {
  width: 300px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}

#app {
  width: 80px;
  height: 80px;
  position: relative;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

#app:active {
  transform: scale(0.9);
}

.pause,
.play {
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: absolute;
  opacity: 0;
  transform: all 300ms;
}

.playBtn,
.pauseBtn {
  position: absolute;
  color: rgba(255, 255, 255, 0.815) !important;
  left: 55%;
  top: 50%;
  width: 30px;
  height: 30px;
  transform: translate(-50%, -50%);
}
.play.active {
  opacity: 1;
}
.pause.active {
  opacity: 1;
}
#vol {
  margin-left: 20px;
}

#mute {
  margin-right: 0px;
  margin-left: 50px;
}
.unmute,
.mute {
  position: absolute;
  color: rgba(255, 255, 255, 0.815) !important;
  left: 55%;
  top: 50%;
  width: 35px;
  height: 35px;
  transform: translate(-150%, -50%);
}
.sound-on,
.sound-off {
  opacity: 0;
}
.sound-off.active {
  opacity: 1;
}
.sound-on.active {
  opacity: 1;
}
input[type="range"] {
  height: 25px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
  background-color: transparent;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animation: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #2497e3;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #2497e3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #a1d0ff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #2497e3;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animation: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #2497e3;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #2497e3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #a1d0ff;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animation: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: #2497e3;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type="range"]::-ms-fill-upper {
  background: #2497e3;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type="range"]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #2497e3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #a1d0ff;
  cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #2497e3;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #2497e3;
}
